/*--------------------*/
/*--- MAIN STYLINGS---*/
/*--------------------*/

/* Element Stylings: */
table {
	width: 100%;
	text-align: left;
	padding: 15px;
	border-collapse: collapse;
	margin-top: 15px;
}

tr:nth-child(even) {
	background-color: whitesmoke;
}

th, td {
	padding: 10px;
}

.error {
    color: red;
    font-weight: bold;
}
